.app {
  width: 100%;
  min-height: 100vh;
  font-size: 16pt;
  display: grid;
  place-content: center;
}

.container {
  width: 860px;
}

.dateHeader {
  position: relative;
  top: 20px;
  z-index: 10;
}

.taskContainer {
  display: flex;
  gap: 24px;
  padding: 0 24px;
  width: 100%;
  border: 1px solid #4B4B4B;
  background-color: #F5F4F1;
}


.taskLinkButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 20pt;
  aspect-ratio: 1 / 1;
  width: 320px;
  margin: 96px 48px 48px;
  padding: 48px;
  border-radius: 50%;
  color: #FFFFFF;
  border: 1px solid #4B4B4B;
  background-color: #EA8E84;
  cursor: pointer;
}

.taskLinkButtonSecondary {
  color: #EA8E84;
  background-color: #FFFFFF;
}
