.app {
  width: 100%;
  min-height: 100vh;
  font-size: 16pt;
  display: grid;
  place-content: center;
}

.container {
  width: 860px;
}

.dateHeader {
  position: relative;
  top: 20px;
  z-index: 10;
}

.taskContainer {
  display: flex;
  gap: 24px;
  padding: 0 24px;
  width: 100%;
  border: 1px solid var(--black-main);
  background-color: var(--gray-light-main);
}


.taskLinkButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 20pt;
  aspect-ratio: 1 / 1;
  width: 320px;
  margin: 96px 48px 48px;
  padding: 48px;
  border-radius: 50%;
  color: var(--white-main);
  border: 1px solid var(--black-main);
  background-color: var(--pink-main);
}

.taskLinkButtonSecondary {
  color: var(--pink-main);
  background-color: var(--white-main);
}
